extends base_admin

block content
    if user
        h2 User #{user.username}
        p: a(href="/admin/user/" + user.id + "/edit") Edit user
        p: a(href="/admin/user/" + user.id + "/delete") Delete user
        table
            tr
                td(align="right"): b Name
                td(align="left")= user.username
            tr
                td(align="right"): b Email
                td(align="left")= user.email
            tr
                td(align="right"): b Premium
                if user.premium
                    td(align="left") true
                else
                    td(align="left") false
            tr
                td(align="right"): b Admin
                if user.admin
                    td(align="left") true
                else
                    td(align="left") false
            tr
                td(align="right"): b Quota
                td(align="left")= user.quota
            tr
                td(align="right"): b Space used
                td(align="left")= used_space
        if documents && documents.length > 0
            hr
            h2 Documents
            ul
                each document in documents
                    li: a(href="/admin/document/" + document.id)= document.name
                        a(href="/admin/document/" + document.id + "/delete") delete
    else
        p User was not found!
