extends base_user

append head
    script(data-main="/javascript/lister_main", src="/bower_components/requirejs/require.js")

block content
    h3 Info
    p.
        Currently using #{used_space} out of #{user.quota}.

    h3 Documents
    if documents.length > 0
        ul
            each document in documents
                li.document-item(id=document.id + "_item")
                    a(href="/document/" + document.id)= document.name
                    span(id=document.id + "_counter")
                    span.fa.fa-trash-o.deleter(document=document.id)
    else
        p Nutin.
