extends base_user

block content
    h3 Info
    p.
        Currently using #{user.used_space} out of #{user.quota}.

    h3 Documents
    if documents.length > 0
        ul
            each document in documents
                li.document-item(id=document.id + "_item")
                    a(href="/user/" + document.id)= document.name
                    span(id=document.id + "_counter")
                    span.fa.fa-trash-o.deleter(document=document.id)
    else
        p Nutin.

block scripts
    script(src="/socket.io/socket.io.js")
    script(src="/javascript/lister.js")